.panel-heading{
	margin-top: 2%;
    border: 1px solid #000;
    background-color: #eae9e966;
}
.list_remove_button{
	margin-left: 50%;
}
label{
	float: left;
}
hr{
	border-top:1px solid #ccc !important;
}
